*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}
.icons_container{
    display: flex;
    flex-direction: row;
}
.image{
    width: 40%;
}